backend/tmp/
backend/.env
*.exe
*.log

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/

.DS_Store
Thumbs.db
.idea/
.vscode/

*.env.local
*.env.prod
config.local.yaml
config.prod.yaml

!config.yaml
!*.example.yaml
!*.example.env